---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import { highlightAuthor } from "@/lib/utils";
import {template} from "@/settings";

const ALL_PAPERS = publications; // This will be replaced with dynamic data later
---

<Layout title="Papers">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Soon</h1>

</div>
</Layout>
